<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>FasaNico Telecom</title>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
          integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.1/cjs/popper.min.js"
          integrity="sha256-T3bYsIPyOLpEfeZOX4M7J59ZoDMzuYFUsPiSN3Xcc2M=" crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
          integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
          crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="/WEB-INF/templateHTML/customTags/header::header"></div>
<h1>SALES REPORT</h1>
<title>Title</title>
<style>
  .row{
    font-size: 15px !important;
  }

  .head{
    font-size: 55px !important;
  }

</style>



<div th:if="${totalPurchases}">
  <h3 th:text="'Total purchases: '+ ${totalPurchases} + ' (made in '+ ${purchasesCountsGrouped.size()}+ ' different packages) for a total revenue of '+${totalSales}+'$'"></h3>


<div class="row">
  <!-- FIRST STATISTIC totalPurchases-->
  <div class="col">
  <table class="table">
    <caption>Total Purchases of packages</caption>
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Package</th>
      <th scope="col">Number of purchases</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="totPurchase : ${purchasesCountsGrouped}">
      <th scope="row" th:text="${index}" ></th>
      <td th:text="${totPurchase.getName()}"></td>
      <td th:text="${totPurchase.getCount()}"></td>
    </tr>
    </tbody>
  </table>
  </div>

  <div class="col">
    <!-- THIRD STATISTIC Optional Product average Per package-->
    <table class="table">
      <caption>Optional Product averages</caption>
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Package</th>
        <th scope="col">Average of Optional Product</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="optionalProductsAverage : ${optionalProductsAverages}">
        <th scope="row" th:text="${index}" ></th>
        <td th:text="${optionalProductsAverage.getName()}"></td>
        <td th:text="${optionalProductsAverage.getAvg()}"></td>
      </tr>
      </tbody>
    </table>

  </div>

  <div class="col">

    <!-- FOURTH STATISTIC Sales with/without optional product-->
    <table class="table">
      <caption>Packages sales statistic</caption>
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Package</th>
        <th scope="col">Total Revenue</th>
        <th scope="col">Revenue Optional Excluded</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="valueOfSale : ${valueOfSalesDetailed}">
        <th scope="row" th:text="${index}" ></th>
        <td th:text="${valueOfSale.getName()}"></td>
        <td th:text="${valueOfSale.getTotalPayment()}"></td>
        <td th:if="${valueOfSale.getTotalPaymentWithoutOP()}" th:text="${valueOfSale.getTotalPaymentWithoutOP()}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col">
    <!-- SECOND STATISTIC totalPurchases by rate id-->
    <table class="table">
      <caption>Total Purchases of packages by rate id</caption>
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Package</th>
        <th scope="col">Validity Period [Month]</th>
        <th scope="col">Number of purchases</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="purchasesCount : ${purchasesCounts}">
        <th scope="row" th:text="${index}" ></th>
        <td th:text="${purchasesCount.getName()}"></td>
        <td th:text="${purchasesCount.getValidity()}"></td>
        <td th:text="${purchasesCount.getCount()}"></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="col">
      <table class="table">
        <caption>BEST SELLERS OPTIONAL PRODUCT</caption>
        <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Package Name</th>
          <th scope="col">Record of  sales</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">Best For Quantity</th>
          <td th:if="${optionalProductBestSellersForValue}" th:text="${optionalProductBestSellersForValue.getName()}"></td>
          <td th:if="${optionalProductBestSellersForValue}" th:text="${optionalProductBestSellersForValue.getAmountSold()} + ' unit '"></td>
        </tr>
        <tr>
          <th scope="row">Best For Amount</th>
          <td th:if="${optionalProductBestSellersForAmount}" th:text="${optionalProductBestSellersForAmount.getName()}"></td>
          <td th:if="${optionalProductBestSellersForAmount}" th:text="${optionalProductBestSellersForAmount.getValue()} + ' $'"></td>
        </tr>
        </tbody>
      </table>
    </div>
</div>

<!-- FIFTH STATISTIC Insolvent user-->
<table class="table">
  <caption>Insolvent users</caption>
  <thead class="thead-dark">
  <tr>
    <th scope="col">#ID</th>
    <th scope="col">Username</th>
    <th scope="col">Email</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${usersInsolvent}">
    <th scope="row" th:text="'id :'+${user.getId()}" ></th>
    <td th:text="${user.getUsername()}"></td>
    <td  th:text="${user.getEmail()}"></td>
   </tr>
  </tbody>
</table>

<!-- FIFTH STATISTIC Insolvent user-->
<table class="table">
  <caption>Suspended Order</caption>
  <thead class="thead-dark">
  <tr>
    <th scope="col">#Order id</th>
    <th scope="col">Package Name</th>
    <th scope="col">Validity Period</th>
    <th scope="col">Username</th>
    <th scope="col">Email</th>
    <th scope="col">Total Cost</th>
    <th scope="col">Creation Date</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="order : ${ordersSuspended}">
    <th scope="row" th:text="'id :'+${order.getId()}" ></th>
    <td th:text="${order.getPack().getName()}"></td>
    <td th:text="${order.getRate().getMonthValidity()}"></td>
    <td  th:text="${order.getUser().getUsername()}"></td>
    <td  th:text="${order.getUser().getEmail()}"></td>
    <td  th:text="${order.getTotalPayment()}"></td>
    <td  th:text="${order.getCreationDate()}"></td>
  </tr>
  </tbody>
</table>

<!-- FIFTH STATISTIC Alert recidive insolvent user-->
<table class="table">
  <caption>Recidive Insolvent user</caption>
  <thead class="thead-dark">
  <tr>
    <th scope="col">#Order id</th>
    <th scope="col">Username</th>
    <th scope="col">Email</th>
    <th scope="col">Last Failed Payment</th>
    <th scope="col">Ammount</th>
    <th scope="col">Date</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="alert : ${insolventReports}">
    <th scope="row" th:text="'id :'+${alert.getId()}" ></th>
    <td th:text="${alert.getUsername()}"></td>
    <td th:text="${alert.getEmail()}"></td>
    <td th:text="${alert.getLastDate()}"></td>
    <td th:text="${alert.getAmount()}"></td>
  </tr>
  </tbody>
</table>
</div>
<div th:unless="${totalPurchases}">
  <h3 th:text="'No Data available (No purchases made yet)'"></h3>
</div>



</body>
</html>

</body>
</html>