<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Page Title</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <div th:fragment="header">
<div class="header">
  <style>
    body {
      font-family: Arial;
      margin: 0;
    }

    /* Header/Logo Title */
    .header {
      padding: 10px;
      text-align: right;
      background: #1abc9c;
      color: black;
      font-size: 30px;
    }

    text.centre{
      text-align: center;
    }
  </style>
  <!-- Image and text -->
  <nav class="navbar navbar-light">
    <a class="navbar-brand" th:size="30" href="home">
      FasaNico Telecom
    </a>
    <div th:if="${session.user}">
    <h4 class="centre" th:text="'Welcome '+ ${session.user.getUsername()} + '!'"></h4>
    </div>
    <div th:unless="${session.user}">
      <h4  class="centre" th:text="'Welcome!'"></h4>
    </div>


    <div th:if="${session.user}">
    <form action="profile" method="post">
      <input type="submit" value="Profile" />
    </form>
    <form action="logout" method="GET">
      <input type="submit" value="Log out" />
    </form>
    </div>
    <div th:unless="${session.user}">
      <form action="login">
        <input type="submit" value="Log in" />
      </form>
    </div>
  </nav>
</div>
</div>
  </head>
</html>