<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Page Title</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <div th:fragment="header">
<div class="header">
  <style>
    body {
      font-family: Arial;
      margin: 0;
    }

    /* Header/Logo Title */
    .header {
      padding: 10px;
      text-align: right;
      background: #1abc9c;
      color: black;
      font-size: 30px;
    }
  </style>
  <!-- Image and text -->
  <nav class="navbar navbar-light">
    <a class="navbar-brand" th:size="30">
      FasaNico Telecom
    </a>

    <h4 th:if="${name}" th:text="'Welcome '+ ${name} + '!'"></h4>
    <form th:if="${name}" action="login" method="GET">
      <input type="submit" value="Log out" />
    </form>
  </nav>
</div>
</div>
  </head>
</html>