body {
    font-family: Arial;
    margin: 0;
}

/* Header/Logo Title */
.header {
    padding: 20px;
    text-align: right;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

/* Page Content */
.content {padding:20px;}